<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragment/head">Head</th:block>
<body>
<th:block th:include="fragment/header">Header</th:block>

<div id="main">

    <!--/*@thymesVar id="video" type="de.mherrmann.famkidmem.ccms.item.Video"*/-->
    <!--/*@thymesVar id="persons" type="java.lang.String"*/-->
    <!--/*@thymesVar id="year" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="month" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="day" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="post" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="success" type="java.lang.Boolean"*/-->


    <div class="feedback" th:if="${post}">
        <div class="success" th:if="${success}">
            Successfully replaced thumbnail.
        </div>
        <div class="failure" th:if="${!success}">
            <div>Could not replaced thumbnail!</div>
            Exception: [[${exception}]]<br>
            Details: [[${details}]]<br>
            <a class="button" th:href="@{'/video/replace-thumbnail/'+${video.title}}">Try again</a>
        </div>
        <p>
            <a th:href="@{/video/index}">Back to video list</a>
        </p>
    </div>

    <form method="post" th:if="${!post}" th:action="@{'/video/edit-data/'+${video.title}}">
        <label>
            <span>Title</span>
            <input type="text" name="title" th:value="${video.title}">
        </label>
        <label>
            <span>Description</span>
            <textarea name="description">[[${video.title}]]</textarea>
        </label>
        <label>
            <span>Persons (comma-separated)</span>
            <input type="text" name="persons" th:value="${persons}">
        </label>
        <label>
            <span>Recorded where?</span>
            <input type="checkbox" name="recordedInCologne" th:attrappend="checked=${video.recordedInCologne ? 'checked' : ''}"> Cologne
            <input type="checkbox" name="recordedInGardelegen" th:attrappend="checked=${video.recordedInGardelegen ? 'checked' : ''}"> Gardelegen
        </label>
        <label>
            <span>Recorded when?</span>
            <input name="year" type="number" th:value="${year}" min="1994" max="2999" required> Year
            <input name="month" type="number" th:value="${month}" min="0" max="12"> Month (0 means unknown)
            <input name="day" type="number" th:value="${day}" min="0" max="31" required> Day (0 means unknown)
        </label>
        <button type="submit">Replace Thumbnail</button>
    </form>


</div>

</body>
</html>