<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragment/head">Head</th:block>
<body>
<th:block th:include="fragment/header">Header</th:block>

<div id="main">

    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <!--/*@thymesVar id="titleForUrl" type="java.lang.String"*/-->
    <!--/*@thymesVar id="post" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="success" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="m3u8" type="java.lang.String"*/-->
    <!--/*@thymesVar id="m3u8Key" type="java.lang.String"*/-->
    <!--/*@thymesVar id="m3u8Iv" type="java.lang.String"*/-->
    <!--/*@thymesVar id="masterKey" type="java.lang.String"*/-->
    <!--/*@thymesVar id="m3u8Filename" type="java.lang.String"*/-->
    <!--/*@thymesVar id="thumbnailFilename" type="java.lang.String"*/-->

    <div class="feedback" th:if="${post}">
        <div class="success" th:if="${success}">
            <div>Successfully removed video.</div>
        </div>
        <div class="failure" th:if="${!success}">
            <div>Could not remove video!</div>
            Exception: [[${exception}]]<br>
            Details: [[${details}]]<br>
            <a class="button" th:href="@{'/video/remove/'+${titleForUrl}}">Try again</a>
        </div>
        <p>
            <a th:href="@{/video/index}">Back to video list</a>
        </p>
    </div>


    <form method="post" th:if="${!post}" th:action="@{'/video/remove/'+${titleForUrl}}" id="videoRemoveForm" name="videoRemoveForm">
        Are you sure you want to remove the video <span id="title"></span>?
        <input type="hidden" name="thumbnailFilename" th:value="${thumbnailFilename}">
        <input type="hidden" name="m3u8Filename" th:value="${m3u8Filename}">
        <input type="hidden" name="tsFilesName">
        <input type="hidden" name="tsFilesCount">
        <button type="submit">Yes</button>
        <a class="button" th:href="@{/video/index}">No</a>
    </form>


    <span th:attrappend="data-m38u=${m3u8}" id="m3u8"></span>
    <span th:attrappend="data-m3u8Key=${m3u8Key}" id="m3u8Key"></span>
    <span th:attrappend="data-m3u8Iv=${m3u8Iv}" id="m3u8Iv"></span>
    <span th:attrappend="data-masterKey=${masterKey}" id="masterKey"></span>
    <script>
        addTsFilenamesToVideoRemoveForm();
        decryptTitle('[[${title}]]', '[[${key}]]', '[[${iv}]]', '[[${masterKey}]]');
    </script>
</div>

</body>
</html>