<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragment/head">Head</th:block>
<body>
<th:block th:include="fragment/header">Header</th:block>

<div id="main">

    <!--/*@thymesVar id="username" type="java.lang.String"*/-->
    <!--/*@thymesVar id="post" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="success" type="java.lang.Boolean"*/-->

    <div class="feedback" th:if="${post}">
        <div class="success" th:if="${success}">
            <div>Successfully removed user.</div>
        </div>
        <div class="failure" th:if="${!success}">
            <div>Could not remove user!</div>
            Exception: [[${exception}]]<br>
            Details: [[${details}]]<br>
            <a class="button" th:href="@{'/user/remove/'+${username}}">Try again</a>
        </div>
        <p>
            <a th:href="@{/user/index}">Back to user list</a>
        </p>
    </div>


    <form method="post" th:if="${!post}" th:action="@{'/user/remove/'+${username}}">
        Are you sure you want to remove the user [[${username}]]?
        <button type="submit">Yes</button>
        <a class="button" th:href="@{/user/index}">No</a>
    </form>


</div>

</body>
</html>